---
BasedOnStyle: LLVM
Language: Cpp
Standard: Cpp03

AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty
AttributeMacros: [DECOMP_INLINE, DECOMP_DONT_INLINE]
ColumnLimit: 120
ConstructorInitializerAllOnOneLineOrOnePerLine: true
FixNamespaceComments: true
IncludeBlocks: Regroup
IndentCaseLabels: true
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Left
ShortNamespaceLines: 0
SortIncludes: "true"
SortUsingDeclarations: "true"
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterForeachMacros: false
  AfterControlStatements: false
SpacesInLineCommentPrefix:
  Minimum: 0
  Maximum: 0
UseTab: Never
WhitespaceSensitiveMacros: [NW4R_UT_LIST_SAFE_FOREACH, CW_FORCE_STRINGS]

IncludeCategories:
  - Regex: '^(<|")(nw4r)?(\/)?types' # "Types" headers
    Priority: 0
    CaseSensitive: true

  - Regex: '(<|")kyoshin\' # kyoshin headers
    Priority: 2
    CaseSensitive: true

  - Regex: '(<|")monolib\' # monolib headers
    Priority: 2
    CaseSensitive: true

  - Regex: '(<|")nw4r\/[[:lower:].]' # NW4R public headers
    Priority: 3
    CaseSensitive: true

  - Regex: '^(<|")revolution\/[[:upper:].]' # RVL SDK public headers
    Priority: 4
    CaseSensitive: true

  - Regex: "<[[:alnum:].]+>" # STL headers
    Priority: 5 # Priority 0 is header mapped to src file
    CaseSensitive: true

  - Regex: ".*" # All other headers
    Priority: 1
